In [ ]:
#Starting of Python

print("hello world")

hello world

In [ ]:
print("Pratiksha Singh")

Pratiksha Singh

In [ ]:
ashdkjas

In [ ]:
#string slicing and indexing

s="Bangalore"
print(s[3:0:-1])

gna

In [ ]:
print(s[7:1:2])

In [ ]:
print(s[-9:-4:2])

Bna

In [ ]:
print(s[-9:7:1])

Bangalo

In [ ]:
string="Hello, World!"
print(string[-5:2:-2])

o o

In [ ]:
string="Python us fun!"
print(string[:5][::-1])

ohtyP

In [ ]:
print(string[::5][::-1])

fnP

In [ ]:
string="Programming"
print(string[3:len(string)-4])

gram

In [ ]:
# if statement
if 10>5:
  print("start of if")
  print("10 is greater number")
  print("end of if")

print("end of program")

start of if
10 is greater number
end of if
end of program

In [ ]:
# input function

a = input("Enter a number: ")
print(a)
print(type(a))

Enter a number: 10
10
<class 'str'>

In [ ]:
a = float(input("Enter a number: "))
print(a)
print(type(a))

Enter a number: 12
12.0
<class 'float'>

In [ ]:
a = int(input("Enter a number: "))
print(a)
print(type(a))

Enter a number: 5
5
<class 'int'>

In [ ]:
# if else statement

a = int(input("Enter a value="))
b = int(input("Enter a value="))

if a>b:
  print("a is greater number")
  print("if block")
  print("end of if")

else:
   print("b is greater number")
   print("else block")
   print("end of else")

print("end of program")

Enter a value=7
Enter a value=9
b is greater number
else block
end of else
end of program

In [ ]:
# if else statement ladder

a = int(input("Enter a value="))
b = int(input("Enter a value="))

if a>b:
  print("a is greater number")
  print("if block")
  print("end of if")
elif a==b:
  print("a and b are equal")
  print("elif block")
  print("end of elif")

else:
   print("b is greater number")
   print("else block")
   print("end of else")

print("end of program")

Enter a value=9
Enter a value=7
a is greater number
if block
end of if
end of program

In [ ]:
# Code for Palindrome

s = input("Enter a string: ")
if s == s[::-1]:
  print("It's a Palindrome")
  print("if block")
  print("end of if")

else:
  print("It's not a palindrome")
  print("else block")
  print("end of else")

print("end of program")

Enter a string: MalayalaM
It's a Palindrome
if block
end of if
end of program

In [ ]:
# Code for Pelindrome

text = input("Enter a string: ")
text = text.replace(" ", "").lower()

if text == text[::-1]:
  print("It's a Palindrome")
  print("if block")
  print("end of if")

else:
  print("It's not a palindrome")
  print("else block")
  print("end of else")

print("end of program")

Enter a string: Malayalam
It's a Palindrome
if block
end of if
end of program

In [ ]:
# Code to change string to lower case to check pelindrome

text = input("Enter a string: ")
text = text.lower()

if text == text[::-1]:
  print("It's a Palindrome")
  print("if block")
  print("end of if")

else:
  print("It's not a palindrome")
  print("else block")
  print("end of else")

print("end of program")

Enter a string: MalaYalam
It's a Palindrome
if block
end of if
end of program

In [ ]:
# Nested if code (if inside if statement)

a = int(input("Enter a value="))
b = int(input("Enter a value="))
c = int(input("Enter a value="))

if a>b:
  if a>c:
    print("a is greater number")
    print("if block")
    print("end of if")
  else:
    print("c is greater number")
    print("else block")
    print("end of else")
elif b>c:
  print("b is greater number")
  print("elif block")
  print("end of elif")
else:
  print("c is greater number")
  print("else block")
  print("end of else")

print("end of program")

Enter a value=28
Enter a value=476
Enter a value=42
b is greater number
elif block
end of elif
end of program

In [ ]:
# while loop

i = 10

while i<15 :
  print(i)
  i = i+1

print("end of while loop")

10
11
12
13
14
end of while loop

In [ ]:
# example 2 for while loop

n = 29

while n < 20:
  print(n)
  n = n-1

print("end of while loop")

end of while loop

In [ ]:
# Multiplication Table

num = int(input("Enter a number: "))

i = 1

while i <= 10:
  print(num , "*" , i , "=", i*num)
  i=i+1

Enter a number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [ ]:
# For loop code

s = "Hari"

for i in s:
  print(i)

H
a
r
i

In [ ]:
# For loop code 2

s = "John"

for i in s:
  print(i)

J
o
h
n

In [ ]:
# For loop code 3

s= [10,20, 30, 40, 50]

for i in s:
  print(i)

10
20
30
40
50

In [ ]:
# for loop code 4

s = [10, 20, 30, 40, 50]

for i in s:
  print(i * 30)

300
600
900
1200
1500

In [ ]:
# for loop code 5

s = [10,20,30,40,50]

for i in s:
  print(i/5)

2.0
4.0
6.0
8.0
10.0

In [ ]:
# code 6


for i in [10,"ntt", 20.3]:
  print(i)
  print(type(i))

10
<class 'int'>
ntt
<class 'str'>
20.3
<class 'float'>

In [ ]:
# for loop code 7

s = "2025John"

for i in s:
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
J
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>

In [2]:
# string

s = "Hello World"
print(s)
print(type(s))

Hello World
<class 'str'>

In [1]:
# length of the string

s = input("enter a string")
c=0
for i in s:
  c= c+1
print("length =", c)

enter a stringPython is fun
length = 13

In [7]:
# membership operator

if "b" not in "apple":
  print("yes")
else:
    print("no")

yes

In [6]:
# count() method

main_string = input("enter a string-")
sub_string = input("enter a substring-")

c = main_string.count(sub_string)

print(c)

enter a string-Bangalore
enter a substring-a
2

In [17]:
# startswith(): method - it will return out put after comparing starting of string or list or tupple

mob_number = input("Enter your mobile number with country code")

if mob_number.startswith("+91"):
  print("India")

elif mob_number.startswith("+1"):
 print("USA")

else: print("Invalid country code")

Enter your mobile number with country code+919910287703
India

In [18]:
# endswith() method - it will return the out put after comparing end of the string or list

url = input("enter a url")

if url.endswith(".edu"):
  print("educational website")
elif url.endswith(".com"):
  print("commercial website")

enter a urlwww.amazon.com
commercial website

In [19]:
# lstrip() method

name = input(" Enter your name-")
print(name)

name = name.lstrip()
print(name)

 Enter your name-Pratiksha
Pratiksha
Pratiksha

In [20]:
# lstrip() method code 2 - it will remove given substrib from string or list or tupple

url = ("http://www.amazon.com","http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com")

for i in url:
  i = i.lstrip("http://www.")
  print(i)

amazon.com
myntra.com
ajio.com
cricbuzz.com

In [24]:
# lstrip ( ) method code 3

url = ("http://www.amazon.com","http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com")

for i in url:
  i = i.lstrip("http//ww.")
  #i = i.lstrip("htp://www.")
  print(i)

://www.amazon.com
://www.myntra.com
://www.ajio.com
://www.cricbuzz.com

In [25]:
# lstrip ( ) method code 4

url = ("http://www.amazon.com","http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com")

for i in url:
  #i = i.lstrip("http//ww.")
  i = i.lstrip("htp://www.")
  print(i)

amazon.com
myntra.com
ajio.com
cricbuzz.com

In [26]:
# lstrip ( ) method code 5

url = ("http://www.amazon.com","http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com")

for i in url:
  #i = i.lstrip("http//ww.")
  i = i.lstrip("htp://w.")
  print(i)

amazon.com
myntra.com
ajio.com
cricbuzz.com

In [27]:
# lstrip ( ) method code 5 - it searches and strips until it finds a mismatch

url = ("http://www.amazon.com","http://www.myntra.com","http://www.ajio.com","http://www.cricbuzz.com")

for i in url:
  #i = i.lstrip("http//ww.")
  i = i.lstrip("htp/w")
  print(i)

://www.amazon.com
://www.myntra.com
://www.ajio.com
://www.cricbuzz.com