In [ ]:
#Starting of Python

print("hello world")

hello world

In [ ]:
print("Pratiksha Singh")

Pratiksha Singh

In [ ]:
ashdkjas

In [2]:
#string slicing and indexing

s="Bangalore"
print(s[3:0:-1])

gna

In [3]:
print(s[7:1:2])

In [4]:
print(s[-9:-4:2])

Bna

In [5]:
print(s[-9:7:1])

Bangalo

In [10]:
string="Hello, World!"
print(string[-5:2:-2])

o o

In [12]:
string="Python us fun!"
print(string[:5][::-1])

ohtyP

In [13]:
print(string[::5][::-1])

fnP

In [14]:
string="Programming"
print(string[3:len(string)-4])

gram

In [15]:
# if statement
if 10>5:
  print("start of if")
  print("10 is greater number")
  print("end of if")

print("end of program")

start of if
10 is greater number
end of if
end of program

In [17]:
# input function

a = input("Enter a number: ")
print(a)
print(type(a))

Enter a number: 10
10
<class 'str'>

In [18]:
a = float(input("Enter a number: "))
print(a)
print(type(a))

Enter a number: 12
12.0
<class 'float'>

In [19]:
a = int(input("Enter a number: "))
print(a)
print(type(a))

Enter a number: 5
5
<class 'int'>

In [25]:
# if else statement

a = int(input("Enter a value="))
b = int(input("Enter a value="))

if a>b:
  print("a is greater number")
  print("if block")
  print("end of if")

else:
   print("b is greater number")
   print("else block")
   print("end of else")

print("end of program")

Enter a value=7
Enter a value=9
b is greater number
else block
end of else
end of program

In [24]:
# if else statement ladder

a = int(input("Enter a value="))
b = int(input("Enter a value="))

if a>b:
  print("a is greater number")
  print("if block")
  print("end of if")
elif a==b:
  print("a and b are equal")
  print("elif block")
  print("end of elif")

else:
   print("b is greater number")
   print("else block")
   print("end of else")

print("end of program")

Enter a value=9
Enter a value=7
a is greater number
if block
end of if
end of program

In [31]:
# Code for Palindrome

s = input("Enter a string: ")
if s == s[::-1]:
  print("It's a Palindrome")
  print("if block")
  print("end of if")

else:
  print("It's not a palindrome")
  print("else block")
  print("end of else")

print("end of program")

Enter a string: MalayalaM
It's a Palindrome
if block
end of if
end of program

In [32]:
# Code for Pelindrome

text = input("Enter a string: ")
text = text.replace(" ", "").lower()

if text == text[::-1]:
  print("It's a Palindrome")
  print("if block")
  print("end of if")

else:
  print("It's not a palindrome")
  print("else block")
  print("end of else")

print("end of program")

Enter a string: Malayalam
It's a Palindrome
if block
end of if
end of program

In [33]:
# Code to change string to lower case to check pelindrome

text = input("Enter a string: ")
text = text.lower()

if text == text[::-1]:
  print("It's a Palindrome")
  print("if block")
  print("end of if")

else:
  print("It's not a palindrome")
  print("else block")
  print("end of else")

print("end of program")

Enter a string: MalaYalam
It's a Palindrome
if block
end of if
end of program

In [34]:
# Nested if code (if inside if statement)

a = int(input("Enter a value="))
b = int(input("Enter a value="))
c = int(input("Enter a value="))

if a>b:
  if a>c:
    print("a is greater number")
    print("if block")
    print("end of if")
  else:
    print("c is greater number")
    print("else block")
    print("end of else")
elif b>c:
  print("b is greater number")
  print("elif block")
  print("end of elif")
else:
  print("c is greater number")
  print("else block")
  print("end of else")

print("end of program")

Enter a value=28
Enter a value=476
Enter a value=42
b is greater number
elif block
end of elif
end of program

In [37]:
# while loop

i = 10

while i<15 :
  print(i)
  i = i+1

print("end of while loop")

10
11
12
13
14
end of while loop

In [44]:
# example 2 for while loop

n = 29

while n < 20:
  print(n)
  n = n-1

print("end of while loop")

end of while loop

In [46]:
# Multiplication Table

num = int(input("Enter a number: "))

i = 1

while i <= 10:
  print(num , "*" , i , "=", i*num)
  i=i+1

Enter a number: 7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

In [47]:
# For loop code

s = "Hari"

for i in s:
  print(i)

H
a
r
i

In [48]:
# For loop code 2

s = "John"

for i in s:
  print(i)

J
o
h
n

In [49]:
# For loop code 3

s= [10,20, 30, 40, 50]

for i in s:
  print(i)

10
20
30
40
50

In [50]:
# for loop code 4

s = [10, 20, 30, 40, 50]

for i in s:
  print(i * 30)

300
600
900
1200
1500

In [54]:
# for loop code 5

s = [10,20,30,40,50]

for i in s:
  print(i/5)

2.0
4.0
6.0
8.0
10.0

In [56]:
# code 6


for i in [10,"ntt", 20.3]:
  print(i)
  print(type(i))

10
<class 'int'>
ntt
<class 'str'>
20.3
<class 'float'>

In [57]:
# for loop code 7

s = "2025John"

for i in s:
  print(i)
  print(type(i))

2
<class 'str'>
0
<class 'str'>
2
<class 'str'>
5
<class 'str'>
J
<class 'str'>
o
<class 'str'>
h
<class 'str'>
n
<class 'str'>